body{background-color:#f2f2f2;}

h3 {
    font-size:35px;
    padding-bottom:20px;
}

.unu{font-size:1.5em;}

.doi{font-size:1.5em;}

.control-label{font-size:1.3em;}

.form-actions{padding-top:10px;}

.alert {font-size:1.5em;
        padding-top:10px;
    
    
}


